<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="XENCONNEX_URL" value="https://api-dev.xenconnex.com/v1/"/>
        <env name="XENCONNEX_API_KEY" value="xnc_development_PD9IVTnAl0CSgFSp98pf9EGZwxAaq96YZdDFLNYK6tULLbjMTV2xAN9btEnQIJjVbQkVQ8S9Ap9mAK9aj6mgFS8pviSksg8MfSIMd1rEP39p"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>test/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>test/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>